{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Produk</title>
{% endblock meta %}

{% block content %}
<p>Nama Produk Makanan: {{produksi.0}}</p>
<p>Alat Produksi: {{produksi.1}}</p>
<p>Durasi Produksi (dalam menit): {{produksi.2}}</p>
<p>Jumlah Produk yang Dihasilkan: {{produksi.3}}</p>
<p>Daftar Bahan yang Dibutuhkan:</p>
<table>
    <tr>
      <th>Bahan</th>
      <th>Jumlah</th>
    </tr>
    {% for i in bahan %} 
    <tr>
      <td>{{ i.0 }}</td>
      <td>{{ i.1 }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}