{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Produksi Produk makanan</title>
{% endblock meta %}

{% block content %}
<h2>Tambah Produksi Produk makanan</h2>
  
<form method="post">
  {% csrf_token %}
  <a>ID Produk Makanan: </a>
  <select name="product">
    {% for i in makanan %}
    <option value = "{{i.1}}">{{ i.0 }}</option>
    {% endfor %}
  </select>
  <br>
  <a>jumlah: </a>
  <input type="number" name="amount" id="amount" required>
  <br>
  <a>XP:</a>
  <input type="number" name="xp" id="xp" disabled>
  <br>
  <button type="submit">Tambahkan</button>
  {% if messages %}
    {% for message in messages %}
    <a{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
    {% endfor %}
  {% endif %}
</form>

<script>
    $("#amount").keyup(function(){
    $("#xp").val(this.value*5);
});
</script>
{% endblock content %}