{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Produk</title>
{% endblock meta %}

{% block content %}
<h2>Tambah Produk</h2>
  
<form method="post">
  {% csrf_token %}
  <p>Jenis Produk</p>
  <select name="type">
      <option value = "hasil panen">Hasil Panen</option>
      <option value = "produk hewan">Produk Hewan</option>
      <option value = "produk makanan">Produk Makanan</option>
  </select>
  <p>Nama</p>
  <input type="text" name="name" maxlength="50" required>
  <p>Harga Jual:</p>
  <input type="number" name="price" required>
  <p>Sifat Produk:</p>
  <input type="text" name="characteristic" maxlength="20" required>
  <button type="submit">Tambahkan</button>
</form>
{% endblock content %}