{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Produk</title>
{% endblock meta %}

{% block content %}
<table>
    <tr>
      <th>No</th>
      <th>Produk Makanan</th>
      <th>Alat Produksi</th>
      <th>Durasi Produksi</th>
      <th>Jumlah Produk Hasil Produksi</th>
      {% if role %}
      <th>Action</th>
      {% endif %}
    </tr>
    {% for i in data %} 
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.0 }}</td>
      <td>{{ i.1 }}</td>
      <td>{{ i.2 }}</td>
      <td>{{ i.3 }}</td>
      <td>
        <a href="/product/detail-production/{{forloop.counter}}">Detail<br></a>
      {% if role %}
        <a href="/product/update-production">Update<br></a>
        <a>delete</a>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}