{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Transaksi Upgrade Lumbung</title>
{% endblock meta %}

{% block content %}
<h2>Produksi Tanaman</h2>
  
<form method="post">
  {% csrf_token %}
  <p disabled>ID Bibit Tanaman: </p>

<select name="type">
  {% for i in data %}
    <option value = {{i.0}}>{{i.0}}</option>
    {% comment %} <option value = "BT002">BT002</option>
    <option value = "BT003">BT003</option> {% endcomment %}
    {% endfor %}
</select>


  
  <p>jumlah:</p>
  <input type="number" name="kapasitas" required>

  <p>XP:</p>
  <input type="number" name="harga" value=5 disabled>
  <button type="submit">Upgrade</button>
</form>
{% endblock content %}