{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Bibit</title>
{% endblock meta %}

{% block content %}
<h2>Form Buat Aset Bibit Tanaman mu!</h2>
  
<form method="post">
  {% csrf_token %}
  
  <p>ID</p>
  <input type="text" value="BTXXX" disabled>
  <p>Nama</p>
  <input type="text" name="nama" required>
  <p>Minimum Level:</p>
  <input type="number" name="min_level" required>
  <p>Harga Beli:</p>
  <input type="number" name="harga_beli" required>
  <p>Durasi Panen:</p>
  <input type="time" name="durasi_panen" required>
  <button type="submit">Tambahkan</button>
</form>
{% endblock content %}