{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Dekorasi</title>
{% endblock meta %}

{% block content %}
<h2>Form Buat Aset Dekorasi</h2>
  
<form method="post">
  {% csrf_token %}

  <p>ID</p>
  <input type="text" value="DKXXX" disabled>
  <p>Nama</p>
  <input type="text" name="nama" required>
  <p>Minimum Level:</p>
  <input type="number" name="min_level" required>
  <p>Harga Beli:</p>
  <input type="number" name="harga" required>
  <p>Harga Jual:</p>
  <input type="number" name="harga_jual" required>
  <button type="submit">Tambahkan</button>
</form>
{% endblock content %}