{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Hewan</title>
{% endblock meta %}

{% block content %}
<h2>Form Buat Aset Hewan</h2>
  
<form method="post">
  {% csrf_token %}
  
  <p>ID</p>
  <input type="text" value="HWXXX" disabled>
  <p>Nama</p>
  <input type="text" name="nama" required>
  <p>Minimum Level:</p>
  <input type="number" name="min_level" required>
  <p>Harga Beli:</p>
  <input type="number" name="harga_beli" required>
  <p>Durasi Produksi:</p>
  <input type="time" name="durasi_produksi" required>
  
  <button type="submit">Tambahkan</button>
</form>
{% endblock content %}