{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Kandang</title>
{% endblock meta %}

{% block content %}
<h2>Form Buat Aset Kandang</h2>
  
<form method="post">
  {% csrf_token %}
  
  <p>ID</p>
  <input type="text" value="KDXXX" disabled>
  <p>Nama</p>
  <input type="text" name="nama" required>
  <p>Minimum Level:</p>
  <input type="number" name="min_level" required>
  <p>Harga Beli:</p>
  <input type="number" name="harga" required>
  <p>Kapasitas Maks:</p>
  <input type="number" name="kapasitas_maks" required>
  
  <p>Jenis Hewan:</p>
  <input type="number" name="jenis_hewan" required>

  <button type="submit">Tambahkan</button>
</form>
{% endblock content %}