{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Bibit Tanaman</title>
{% endblock meta %}

{% block content %}

<h1>List Bibit Tanaman</h1>
<table>
    <tr>
      <th>ID</th>
      <th>Nama</th>
      <th>Minimum Level</th>
      <th>Harga Beli</th>
      <th>Durasi Panen</th>
      {% if role %}
      <th>Action</th>
      {% endif %}
    </tr>
    {% for bibit in data %} 
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ bibit.0 }}</td>
      <td>{{ bibit.1 }}</td>
      <td>{{ bibit.2 }}</td>
      <td>{{ bibit.3 }}</td>
      <td>{{ bibit.4 }}</td>
      <td>{{ bibit.5 }}</td>
      {% if role %}
        <td><a href='{% url "aset:update-bibit" bibit.0 bibit.1 bibit.2 bibit.3 %}'>Update</a></td>
      {% endif %}
    </tr>
    {% endfor %}
    
</table>


{% endblock content %}