{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Dekorasi</title>
{% endblock meta %}

{% block content %}
<h1>List Dekorasi</h1>
<table>
    <tr>
      <th>ID</th>
      <th>Nama</th>
      <th>Minimum Level</th>
      <th>Harga Beli</th>
      <th>Harga Jual</th>
      {% if role %}
      <th>Action</th>
      {% endif %}
    </tr>
    {% for dekorasi in data %} 
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ dekorasi.1 }}</td>
      <td>{{ dekorasi.2 }}</td>
      <td>{{ dekorasi.3 }}</td>
      <td>{{ dekorasi.4 }}</td>
      <td>{{ dekorasi.5 }}</td>
      {% if role %}
        <td><a href="update-dekorasi/">Update</a></td>
      {% endif %}
    </tr>
    
    {% endfor %}

</table>


{% endblock content %}