{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Kandang</title>
{% endblock meta %}

{% block content %}

<h1>List Petak Sawah</h1>
<table>
    <tr>
      <th>ID</th>
      <th>Nama</th>
      <th>Minimum Level</th>
      <th>Harga Beli</th>
      <th>Jenis Tanaman</th>
      
      {% if role %}
      <th>Action</th>
      {% endif %}
    </tr>
    {% for sawah in data %} 
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ sawah.0 }}</td>
      <td>{{ sawah.1 }}</td>
      <td>{{ sawah.2 }}</td>
      <td>{{ sawah.3 }}</td>
      <td>{{ sawah.4 }}</td>
      {% if role %}
        <td><a href='{% url "aset:update-sawah" sawah.0 sawah.1 sawah.2 sawah.3%}'>Update</a></td>
      {% endif %}
      
    </tr>
    {% endfor %}
</table>


{% endblock content %}