{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Lihat Aset Hi-Day</title>
{% endblock meta %}

{% block content %}


<div class="center">
    <div class="container text-center">
        <h1>List Koleksi Aset Hi-Day!</h1>
        <div class="btn-group-vertical w-75">
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 10px ; border-radius: 10px !important"> Dekorasi </button>
            
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 10px ; border-radius: 10px !important"> Bibit_Tanaman </button>
            
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 10px ; border-radius: 10px !important"> Kandang </button>
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 10px ; border-radius: 10px !important"> Hewan </button>
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 10px ; border-radius: 10px !important"> Alat_Produksi </button>
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 10px ; border-radius: 10px !important"> Petak_Sawah </button>
        </div>
    </div>
</div>
{% endblock content %}