{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Transaksi Beli Aset</title>
{% endblock meta %}

{% block content %}

<h1>List Transaksi Pembelian Aset</h1>
<table>
    <tr>
      {% if role %}
      <th>Email</th>
      {% endif %}
      <th>Waktu</th>
      <th>Nama Aset</th>
      <th>Jumlah</th>
      <th>Total Harga</th>
    </tr>

    {% for transaksi in data %} 
    <tr>
      <td>{{ forloop.counter }}</td>
      
      <td>{{ transaksi.2 }}</td>
     
      <td>{{ transaksi.3 }}</td>
      {% if role %}
      <td>{{ transaksi.0 }}</td>
      {% endif %}
      <td>{{ transaksi.1 }}</td>
      <td>{{ transaksi.4 }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock content %}