{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Kandang</title>
{% endblock meta %}

{% block content %}
<table>
    <tr>
      <th>ID</th>
      <th>Nama</th>
      <th>Minimum Level</th>
      <th>Harga Beli</th>
      <th>Jenis Tanaman</th>
      
      {% if role %}
      <th>Action</th>
      {% endif %}
    </tr>
    {% for alat in data %} 
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ alat.1 }}</td>
      <td>{{ alat.2 }}</td>
      <td>{{ alat.3 }}</td>
      <td>{{ alat.4 }}</td>
      <td>{{ alat.5 }}</td>
      {% if role %}
        <td><a href="/produk/update-product">Update</a></td>
      {% endif %}
      
    </tr>
    {% endfor %}
</table>


{% endblock content %}