{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Update Dekorasi</title>
{% endblock meta %}

{% block content %}
<h2>Form Update Dekorasi</h2>
  
<form method="post">
  {% csrf_token %}
  <p>ID:</p>
  <input type="text" name="type" value="DKXXX" disabled>
  <p>Nama:</p>
  <input type="text" name="name" value="Nama" disabled>
  <p>Minimum Level:</p>
  <input type="number" name="min level" required>
  <p>Harga Beli:</p>
  <input type="text" name="harga beli" required>
  <p>Harga Jual:</p>
  <input type="text" name="harga jual" required>
  <button type="submit">Simpan</button>
</form>
{% endblock content %}