{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Update Alat</title>
{% endblock meta %}

{% block content %}
<h2>Form Update Alat Produksi</h2>
  
<form method="post">
  {% csrf_token %}
  
  <p>Nama</p>
  <input type="text" name="id" value={{id}} disabled>
  <p>Nama</p>
  <input type="text" name="nama" value={{nama}} disabled>
  <p>Minimum Level:</p>
  <input type="number" name="min_level" value={{min_level}} required>
  <p>Harga Beli:</p>
  <input type="number" name="harga_beli" value={{harga_beli}} required>
  <p>Kapasitas Maks:</p>
  <input type="number" name="kapasitas_maks" value={{kapasitas_maks}} required>
  <button type="submit">Simpan</button>
</form>
{% endblock content %}