{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Update Dekorasi</title>
{% endblock meta %}

{% block content %}
<h2>Form Update Dekorasi</h2>
  
<form method="post">
  {% csrf_token %}
  <p>ID:</p>
  <input type="text" name="id" value={{id}} disabled>
  <p>Nama:</p>
  <input type="text" name="nama" value={{nama}} disabled> 
  <p>Minimum Level:</p>
  <input type="number" name="min_level" value={{min_level}} required>
  <p>Harga Beli:</p>
  <input type="text" name="harga_beli" value={{harga_beli}} required>
  <p>Harga Jual:</p>
  <input type="text" name="harga_jual" value={{harga_jual}} required>
  <button type="submit">Simpan</button>
</form>
{% endblock content %}
