{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/main">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Lumbung</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
              <li><a class="dropdown-item" href="#">Lihat Isi Lumbung</a></li>
              {% if request.session.role == "pengguna" %}
              <li><a class="dropdown-item" href="#">Upgrade Lumbung</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="#">List Transaksi Upgrade Lumbung</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Koin</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
              {% if request.session.role == "admin" %}
              <li><a class="dropdown-item" href="/koin/create-paket-koin">Buat Paket Koin</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/koin">List Paket Koin</a></li>
              <li><a class="dropdown-item" href="/koin/transaksi">List Transaksi Pembelian Koin</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Aset</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
              {% if request.session.role == "admin" %}
              <li><a class="dropdown-item" href="#">Buat Aset</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/aset/list-aset">List Aset</a></li>
              {% if request.session.role == "admin" %}
              <li><a class="dropdown-item" href="#">Buat Hewan Menghasilkan Produk Hewan</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="#">List Hewan Menghasilkan Produk Hewan</a></li>
              {% if request.session.role == "admin" %}
              <li><a class="dropdown-item" href="#">Buat Bibit Menghasilkan Panen</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="#">List Bibit Menghasilkan Panen</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Koleksi Aset</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
              <li><a class="dropdown-item" href="#">List Koleksi Aset</a></li>
              {% if request.session.role == "pengguna" %}
              <li><a class="dropdown-item" href="#">Buat Transaksi Pembelian Aset</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="#">List Transaksi Pembelian Aset</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Produk</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
              {% if request.session.role == "admin" %}
              <li><a class="dropdown-item" href="/product/create-product">Buat Produk</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/product">List Produk</a></li>
              {% if request.session.role == "admin" %}
              <li><a class="dropdown-item" href="/product/create-production">Buat Produksi</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/product/list-production">List Produksi</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            {% if request.session.role == "admin" %}
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Histori Produksi</a>
            {% else %}
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Proses Produksi</a>
            {% endif %}
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
              {% if request.session.role == "pengguna" %}
              <li><a class="dropdown-item" href="#">Produksi Hewan</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="#">List Histori Produksi Hewan</a></li>
              {% if request.session.role == "pengguna" %}
              <li><a class="dropdown-item" href="#">Produksi Tanaman</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="#">List Histori Produksi Tanaman</a></li>
              {% if request.session.role == "pengguna" %}
              <li><a class="dropdown-item" href="/product/create-history">Produksi Produk Makanan</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/product/list-history">List Histori Produksi Makanan</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Pesanan</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
              {% if request.session.role == "admin" %}
              <li><a class="dropdown-item" href="#">Buat Pesanan</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="#">List Pesanan</a></li>
              <li><a class="dropdown-item" href="#">List Histori Penjualan</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock content %}

</body>

</html>
